.draw-pixel_edit-field {
  margin: 1vh;
  position: relative;
  box-sizing: content-box;
  border: 1px solid green;
}

.pixel {
  position: absolute;
}
.black {
  background-color: black;
}
.s02 {
  height: 2px;
  width: 2px;
}
